{% extends 'base.html' %}
{% load static %}

{% block extrastyles %}
<style>
    .bottom-center {
      position:absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 50%;
      text-align: center;
      font-size: 60px;
      color:white;
    }
    .image-home{
      width:320px;
      height:300px;
    }
    .card{
      width:100%;
    }

    .carousel-item{
      width: 100%;
      height: 30%;
    }
    </style>
{% endblock extrastyles %}

{% block content %}
<div class="container-fluid">
  <div class="main">
    <div id="carouselExampleSlidesOnly" class="carousel-slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'image/img1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'image/img1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'image/img1.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="bottom-center">BOOK NOW</div>
  </div>
</div>
<h3>Rooms and Suites</h3>
<a href="">All</a>
  {% for room in rooms %}
    {% if forloop.counter0|divisibleby:2 %}
      {% include 'hotels/_photo_left.html' %}
    {% else %}
    {% include 'hotels/_photo_right.html' %}
    {% endif %}
  {% endfor %}
{% endblock content %}