<h1>TELEPHONE & MAIL
    P: +90 242 352 27 00
    F: +90 242 352 26 90
    E-Mail: lara@limakhotels.com<h1>

<form action="" method="get">
    <label for="firstname">Name: </label>
    <input type="text" name="firstname" id="firstname" />
    <br>
    <br>
    <label for="email">Name:    </label>
    <input type="email" name="email" id="email" />
    <br>
    <br>
    <label for="phone">:Phone:  </label>
    <input type="tel" id="phone" name="phone" />
    <br>
    <br>
    <label for="message">Message:   </label>
    <textarea cols="10" rows="10" name="message" id="message"></textarea>
    <br>
    <br>
    <input type="submit" value="Send Message" />
</form>
