{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.photo_home > img {
    width:100%;
    position:relative;
    }
    .text{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:250%;
    font-weight:bold;
    color:red;
    background-color:rgb(0 , 0 ,0);
    width:88.5%;
    text-align:center;
    }
</style>
<div class="main-photo">
    <div class="photo_home">
      <img src="{% static 'image/contacte.png'%}">
    </div>
    <div class="text">-Contact-</div>
  </div>

<div class="container">
    <h1>TELEPHONE & MAIL
        P: +90 242 352 27 00
        F: +90 242 352 26 90
        E-Mail: lara@limakhotels.com<h1>
</div>

<div class="mx-auto my-4 text-center">
    <h1>Contact Us</h1>
</div>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
    <button class="btn btn-success my-3" type="submit">Send message</button>
    </form>
</div>



{% endblock %}